*{
    box-sizing: border-box;
}

header {
    display: flex;
}

header p{
    margin-left: auto;
}

main {
    text-align: center;
}

.button-collection{
    display: flex;
    flex-direction: column;
}

.btn {
margin: 10px auto;
}