/* Whole Document Styling*/
*{
    box-sizing: border-box;
    background-color: var(--color-three);
    color: var(--color-two);
    text-shadow: 1px 1px black;
}
:root{
    --color-one: #171738;
    --color-two: #FFD9CE;
    --color-three: #593C8F;
}

/* Body content Styling*/
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*Header styling*/
header {
    display: flex;
    align-items: center;
}

header button { 
  padding: 5px;
  margin: 50px auto 50px 50px;
}

header p{
  margin: 50px 50px 50px auto;
}

/* Main Content Styling of Start Screen*/
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#large-text {
  font-size: 2vw;
  padding: 10px;
  border-bottom: 1.5px solid black ;
  margin: 10px auto;
  text-align: center;
  width: 50%;
}
#small-text{
  text-align: center;
  font-size: 1.5vw;
  width: 40%;
}

.button-collection{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn{
  background-color: var(--color-one);
  color: var(--color-two);
  font-size: 1.5vw;
  border-radius: 8px;
}

.begin-btn {
  margin: 10px auto;
}

/* Main Content Styling of Questions*/
.ans-btn{
  margin: 15px auto 15px 15px;
}

/* Main Content Styling of Player Intial Submission Screen*/
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1.5px dotted var(--color-two);
  border-radius: 8px;
  box-shadow: 10px 5px 5px var(--color-one);
}

label, input {
  
  text-align: center;
  padding: 10px;
}
label{
  font-size: 1.2vw;
}

input{
  width: 45%;
  text-align: center;
  background-color: azure;
  color: var(--color-one);
  text-shadow: none;
}

.initial-btn{
  margin: 10px;
}
/*Styling for High Score Screen*/
li{
  margin: 10px;
  list-style: none;
  font-size: 1.2vw;
}

li span {
  margin-left: 100px;
}

.go-back-btn{
  margin: 10px;
}

.reset-score-btn{
  margin: 10px;
}
/*Footer Stylings*/
footer {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
}
footer p{
  font-size: 2vw;
  margin: auto;
  border-top: 1px solid black;
}